<div class="modal fade halo-global-custom-informatin-popup" id="halo-global-custom-information-popup" data-global-custom-informatin-popup>
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
        	<div class="modal-header">
		        <h5 class="modal-title halo-popup-title text-center"></h5>
		    </div>
            <a class="close close-modal" title="{{ 'cart.ajax_cart.close' | t }}" href="#" data-close-custom-information>
                {% render 'icon-close' %}
            </a>
            <div class="modal-body halo-popup-content">
            </div>
            <div class="modal-bottom-gradient-cover"></div>
        </div>     
    </div>
</div>
