<link rel="stylesheet" type="text/css" href="{{ 'index-full-screen-video.css' | asset_url }}">
<div class="index-full-screen-video index-normal-component">
  <div class="video-box">
    {{
      section.settings.video
      | video_tag: autoplay: true, loop: false, muted: true, controls: true, id: 'index-video', alt: 'Home video'
    }}
    <div class="pause-btn">
      <img
        class="pause-img"
        src="https://cdn.shopify.com/s/files/1/0632/4833/5096/files/pause_video.png?v=1724034623"
        width="100"
        height="100"
        alt="Pause Video"
      >
    </div>
  </div>
</div>
<script>
  videoInit();
  function videoInit() {
    let elevideo = document.getElementById('index-video');
    elevideo.addEventListener('play', () => {
      //播放开始执行的函数
      // console.log('开始播放');
      $('.pause-img').css('opacity', 0);
    });
    elevideo.addEventListener(
      'pause',
      () => {
        //暂停
        // console.log('播放暂停');
        $('.pause-btn').show();
        $('.pause-img').css('opacity', 1);
      },
      false
    );
    $('.pause-btn').click(function () {
      $('#index-video').trigger('play');
      setTimeout(() => {
        $('.pause-btn').hide();
      }, 500);
    });
    $('#index-video').find('img').attr('alt','Video Cover')
  }
  // $('video').trigger('pause'); //关闭所有的视频播放
  // $('video').trigger('play'); //打开所有的视频播放
</script>
{% schema %}
{
  "name": "Index Full Screen Video",
  "settings": [
    
    {
      "type": "video",
      "id": "video",
      "label": "A Shopify-hosted video"
    }
  ],
  "presets": [
    {
      "name": "Index Full Screen Video"
    }
  ]
}
{% endschema %}
