<link
  rel="stylesheet"
  type="text/css"
  href="{{ 'small-collections-banner.css' | asset_url }}"
>
<div class="small-collections-banner">
  <div class="container">
    <div class="collections-box">
      {% for block in section.blocks %}
        {% assign now_url = canonical_url %}
        {% assign now_link = block.settings.link %}
        {% assign img_url = block.settings.image | image_url %}
        <a href="{{ block.settings.link }}" class="collection-item {% if now_url contains now_link %} active-item {% endif %}" style="background: url({{ img_url }})">{{ block.settings.collection_name }}</a>  
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Small Collections Banner",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "section-title"
      }
    ],
    "blocks": [
      {
        "name": "collection link block",
        "type": "card-show",
        "settings": [
           {
             "type": "text",
             "id": "collection_name",
             "label": "Collection Name"
           },
          {
             "type": "image_picker",
             "id": "image",
             "label": "Background Image"
           },
           {
             "type": "url",
              "id": "link",
              "label": "Collection Link"
           }
         ]
      }
    ],
    "presets": [
      {
        "name": "Small Collections Banner"
      }
    ]
  }
{% endschema %}