<div class="page-tpl">
  <div class="container">
    {% render 'breadcrumb' %}
    <br>
    <iframe
      src="https://t.17track.net/zh-cn#nums=1ZG1920Y9038384184"
      width="100%"
      style="border: none;"
      id="track-order"
    ></iframe>
    {% comment %} <iframe
      src="https://track.lingyierp.com/shopfiy/"
      width="100%"
      style="border: none;"
      id="track-order"
    ></iframe> {% endcomment %}
    {% comment %} <iframe
      src="http://127.0.0.1:5500/index.html"
      width="100%"
      style="border: none;"
      id="track-order"
    ></iframe> {% endcomment %}
    <script>
      const iframe = document.getElementById('track-order');
      window.addEventListener('message', (event) => {
        if (event.source === iframe.contentWindow) {
          // 安全性检查，确保消息来自正确的 iframe
          console.log('event.data.height:', event.data.height);
          iframe.style.height = event.data.height + 36 + 'px';
        }
      });
    </script>
  </div>
</div>
