.applications .card-box {
  display: flex;
  flex-wrap: wrap;
}

.applications .card-item {
  padding: 10px 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}
.applications .img-box {
  padding: 0 10px 0 10px;
  /* height:250px; */
  overflow: hidden;
  margin-bottom: 30px;
}
.applications .img-box img {
  width: 100%;
  object-fit: contain;
}
.applications .card-item h5 {
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 12px;
  text-align: center;
}

.applications .change-to-black {
  color: black !important;
}

.applications .set-btn-pos {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  .applications .card-item {
    width: 33.33%;
  }
}
@media (max-width: 1199px) {
  .applications .card-item {
    width: 50%;
  }
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .applications .card-item {
    width: 100%;
  }
}
