.sub_form {
  display: flex;
  align-items: center;
  /* margin-top: 60px; */
}
.sub_form > div {
  padding: 0 15px;
}
.sub_form_spc {
  text-align: left !important;
}
/* 左侧表单 */
.sub_form .form-box {
  display: flex;
  justify-content: flex-end;
}
.sub_form .form-box > div {
  padding: 80px 50px 80px 50px;
  width: 100%;
  max-width: 575px;
  background: #e4e9ff;
  border-radius: 50px;
  box-shadow: -40px 40px 0px 0px rgba(53, 85, 219, 0.1);
}
.sub_form .form-box-header > h5 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}
.sub_form .form-box-header > p {
  color: rgba(60, 72, 84, 0.8);
  font-size: 18px;
  margin-bottom: 30px;
}

.sub_form .form-success {
  padding: 5px 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  margin-bottom: 20px;
  color: #3555db;
}
/* 表单展示 */

.sbu-form-box .contact-form .form-group input,.sbu-form-box .contact-form .form-group textarea {
  width: 100%;
  border: 1px solid #ffffff !important;
  max-width: none !important;
  border-radius: 4px !important;
}
.sbu-form-box .contact-form input:focus {
  border: 1px solid #3555db !important;
}
.sbu-form-box .contact-form .red {
  color: red;
}
/* 右侧描述 */
.sub_form .desc > div {
  max-width: 575px;
}

.sub_form .desc-first {
  margin-bottom: 30px;
}
.sub_form .desc-first > div {
  color: #3555db;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 6px;
}

.sub_form .desc-first > p {
  color: rgba(60, 72, 84, 0.8);
  font-size: 18px;
}
.sub_form .desc-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.sub_form .desc-item > div:first-child {
  width: 48px;
  height: 48px;
  background: #bbdefb;
  color: #1976d2;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 4px;
  margin-right: 30px;
  margin-left: 16px;
}
.sub_form .desc-item > div:last-child > h5 {
  font-size: 20px;
  margin-bottom: 10px;
}
.sub_form .desc-item > div:last-child > p {
  color: rgba(60, 72, 84, 0.8);
  font-size: 16px;
}

.sub_form .quote-buttom {
  font-size: 16px;
  color: #fff;
  background-color: #3555db;
  border-image: none;
  border: 1px solid #3555db !important;
  padding: 16px 42px;
  border-radius: 0.31rem;
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  width: unset !important;
  margin-top: 20px;
}

.sub_form .pdf-link {
  text-align: left;
  color: #666666;
  margin: 16px 0;
}

@media (min-width: 1200px) {
  .sub_form .form-box {
    width: 50%;
  }
  .sub_form .desc {
    width: 50%;
  }
}
@media (max-width: 1199px) {
  .sub_form .form-box {
    width: 60%;
  }
  .sub_form .desc {
    width: 40%;
  }
}
@media (max-width: 991px) {
  .sub_form {
    display: flex;
    flex-flow: column-reverse;
  }
  .sub_form .form-box {
    width: 100%;
    display: block;
  }
  .sub_form .desc {
    width: 100%;
  }
  .sub_form .desc > div {
    max-width: none;
  }
  .sub_form .form-box > div {
    max-width: none;
  }
}
@media (max-width: 767px) {
  .sub_form .pdf-link {
    text-align: center;
    color: #666666;
    margin: 16px 0;
  }
  .sub_form .form-box > div {
    box-shadow: none;
    border-radius: 20px;
    padding: 24px;
  }
  .sub_form .contact-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .sub_form .form-group {
    width: 100%;
  }
  .sub_form .desc-first > div {
  font-size: 30px;
    line-height: 42px;
}
  .sub_form .desc-first {
    margin-bottom: 20px;
}
  .sub_form .desc-item {
    margin-bottom: 20px;
}
  .sub_form .form-box-header>h5 {
    font-size: 34px;
    margin-bottom: 20px;
}
}
