.index-shop-by-category .series-box {
    position: relative;
}

.index-shop-by-category .category-slick-scroll {
    transition: all ease-in-out 0.5s;
    display: flex; /* 提前设置flex水平布局 */
    flex-wrap: nowrap; /* 禁止换行，模拟slick的横向滚动 */
    overflow-x: auto; /* 隐藏超出部分，避免垂直排列 */
    width: 100%;
}

.index-shop-by-category .series-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.index-shop-by-category .img-box {
    width: 210px;
    height: 210px;
    overflow: hidden;
    border-radius: 50%;
}

.index-shop-by-category .category-name {
    margin: 12px 0 10px 0;
    font-size: 20px;
    word-break: break-word;
    text-align: center;
}


.index-shop-by-category .line-dots .slick-dots{
    position: absolute;
    bottom: 0;
    width: 100%;
}


@media (min-width: 1200px) {
    .index-shop-by-category .img-box {
        width: 130px;
        height: 130px;
    }
}

@media (min-width: 1400px) {
    .index-shop-by-category .img-box {
        width: 175px;
        height: 175px;
    }
}

@media (max-width: 1199px) {
    .index-shop-by-category .img-box {
        width: 160px;
        height: 160px;
    }
}

@media (max-width: 767px) {
    .index-shop-by-category .category-name{
        font-size: 17px;
    }
    .index-shop-by-category .img-box {
        width: 100px;
        height: 100px;
    }

    .index-shop-by-category .series-item{
        margin: 15px;
    }

    
}