.index-other-series {
  margin-bottom: 40px;
}

.index-other-series .series-box {
  display: flex;
  flex-wrap: wrap;
}

.index-other-series .series-item {
  width: 33.33%;
  padding: 24px;
  position: relative;
}

.index-other-series .series-img {
  transition: all 0.5s ease;
}

.index-other-series .img-box {
  overflow: hidden;
  position: relative;
}

.index-other-series .link-btn {
  position: absolute;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  width: 220px;
  height: 43px;
  background: #0052c8;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 40px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.index-other-series .img-box:hover {
  box-shadow: 0px 0px 16px 0px #2c70d142;
}

.index-other-series .img-box:hover .series-img {
  transform: scale(1.2);
}

.index-other-series .link-btn:hover {
  background: #0d489d;
}

@media (min-width: 1200px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {
  .index-other-series .link-btn {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: unset;
    bottom: 0;
  }
  .index-other-series .link-btn:hover {
    background: rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 767px) {
  .index-other-series .series-item {
    width: 50%;
    padding: 10px;
    position: relative;
  }
}